.workitems
  %table{:border => 1}
    %tr
      %th Parent WFID
      %th Current Participant
      %th Task
      %th FEI Storage ID
      %th Associated Object
      / %th Fields
      %th Actions
    - @workitems.each do |wi| 
      %tr
        %td= wi.fei.wfid
        %td= wi.participant_name
        %td= wi.fields['params']['task']
        %td= wi.fei.to_storage_id
        - klass = wi.fields['object_type'].camelize.constantize
        - obj = eval("#{klass}.find(#{wi.fields['object_id']})")
        %td
          = "#{klass}: #{link_to obj.name, obj}"
        / %td
        /   %ul
        /     - wi.fields.keys.each do |field|
        /       %li= "#{field} = #{wi.fields[field]}"
        %td
          = link_to 'Show', { :controller => 'workitems', :action => :show, :id => wi.fei.to_storage_id }
