!!! Strict
%html
  %head
    %title
      = h(yield(:title) || "Untitled")
    = stylesheet_link_tag 'application'
    = yield(:head)
  %body
    #container
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      - if show_title?
        %h1
          = h yield(:title)
      = yield
